<footer>
    <div class="container">
        <p>Aplicación creada para el curso de desarrollo Full-Stack con JavaScript</p>
        <p class="small-text">Tecnologías usadas: Node, Express y Handlebars</p>

        
    </div>
</footer>