<div class="acerca-content regular-content">
    <div class="container">
        <div class="text-center">
            <h1>Acerca de la Aplicación</h1>
            <h2><span class="h">Control de Invitados.</span> Creada por <span class="t">{{ autor }}</span>. Curso Desarrollo MERN Full-Stack y GraphQL</h2>
        </div>
    </div><!-- /.container -->
</div><!-- /.invitados-content -->