<div class="home-content">
    <div class="home-content__image">
    </div> 

    <div class="home-content__content">
        <h1 class="text-center">Control de Invitados</h1>
        <p>¡Bienvenido! A través de esta aplicación serás capaz de administrar las listas de <strong>Invitados</strong> para tus eventos favoritos. Siéntete con libertad de <span class="h">agregar</span>, <span class="h">eliminar</span>, <span class="h">modificar</span> e <span class="h">inspeccionar</span> todos tus invitados en detalle.</p>
    </div>
</div>